body{
    background-color: rgb(0, 0, 0);
    color:blanchedalmond;
    font-family: Tahoma;
    text-align: center;
}
label{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
input,button{
    color: white;
    background-color: rgb(92, 92, 92);
    font-size: 20px;
    border-radius: 8px;
}